<h1>View Bills</h1>
<button class="btn btn-primary" {{action 'recentBillLookup'}}>View Recent Bills</button>
<button class="btn btn-primary" {{action 'upcomingHouseBillLookup'}}>View Upcoming House Bills</button>
